<ion-header>
  <ion-toolbar>
    <ion-icon slot="end" size="large" (click)="salir()" name="log-out-outline"></ion-icon>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      {{nombre}}
  </ion-toolbar>
</ion-header>

<ion-content>
<div #map id="map"></div>
<div class="searchBox">
  <input
      id="pac-input"
      class="controls"
      type="text"
      placeholder="Search Box"
    />
</div>
<div id="icono">
  <div>
    <ion-icon name="footsteps-outline" (click)="trazarRuta()"></ion-icon>
    <h1 class="letra">Trazar</h1>
    <h1 class="letra">ruta</h1>
  </div>
  <div>
    <ion-icon name="chatbubble-ellipses-outline" (click)="verComentarios()"></ion-icon>
    <h1 class="letra">Hacer</h1>
    <h1 class="letra">comentario</h1>
  </div>
  <div>
    <ion-icon name="warning-outline"></ion-icon>
    <h1 class="letra">Reportar</h1>
    <h1 class="letra">emergencia</h1>
  </div>
  <div>
  </div>
</div>
</ion-content>
