<ion-header>
  <ion-toolbar>
    <ion-icon slot="end" size="large" (click)="salir()" name="log-out-outline"></ion-icon>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      {{nombre}}
  </ion-toolbar>
</ion-header>

<ion-content>
<div #map id="map"></div>
<ion-searchbar></ion-searchbar>
<div id="icono">
  <ion-icon name="footsteps-outline"></ion-icon>
  <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
  <ion-icon name="warning-outline"></ion-icon>
</div>
</ion-content>
