<ion-header>
    <ion-toolbar>
        <ion-icon slot="end" size="large" (click)="salir()" name="log-out-outline"></ion-icon>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center">
    <div>
        <h1>Mis Bicicletas</h1>
    </div>
    <div> 
        <h3>Registrar nueva bicicleta</h3>
      <ion-icon name="add-circle-outline" (click)="registrar()"></ion-icon>
    </div>
        <ion-card *ngFor="let bici of bicicletas">
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <img [src]="bici.imagenCost">
                        </ion-col>
                        <ion-col class="ion-margin-top">
                            <p><ion-label>Marca: {{bici.marca}}</ion-label></p>
                            <p><ion-label>Color: {{bici.color}}</ion-label></p>
                            <p><ion-label>Tipo: {{bici.tipo}}</ion-label></p>
                            <p><ion-label>Modelo: {{bici.modelo}}</ion-label></p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
              </ion-card-content>
        </ion-card>
</ion-content>
    

