<ion-content>
  <div class="botones">
    <h3>BiciSafe</h3>
    <h2>hello world</h2>
      <img class="logo" src="../../assets/Imagenes/logo.png">
    <ion-item>
      <ion-label inputmode="email" type="email" position="floating">Correo</ion-label>
      <ion-input placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input placeholder="" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox color="secondary" slot="start"></ion-checkbox>
      <ion-label>Recordar Datos</ion-label>
    </ion-item>
    <ion-button type="submit" class="botonInicio" color="secondary" shape="round">Ingresar</ion-button>
    <div>
      <u><ion-router-link href="#" class="underline">Olvide mi correo</ion-router-link></u>
    </div>
    <div>
      <u><ion-router-link href="#" class="underline">Olvide mi contraseña</ion-router-link></u>
    </div>
    <ion-button type="submit" class="botonInicio" color="secondary" shape="round">Registrar</ion-button>
  </div>
</ion-content>
