#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  .botonInicio {
    display:block;
    font-size: large;
  }
  ion-content{
      --background:url('../../assets/Imagenes/fondo2.jpg') 0 0/100% 100% no-repeat;
  }
  .logo{
    max-width: 50%;
    margin-left: 12vh;
  }
  h3 {
    text-align: center;
    color: black;
    font-size: 8vh;
    font-weight: 600;
  }
  .underline{
    display: flex;
    justify-content: center;
  }
  ion-router-link{
    font-weight: 700;
  }
  .botones {
    margin-top: 20vw;
  }
  ion-item {
    color: aqua;
    opacity: 0.8;
  }