<ion-header>
  <ion-toolbar>
    <ion-icon slot="end" size="large" (click)="salir()" name="log-out-outline"></ion-icon>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h3>BiciSafe v1.0</h3>
<h4>Datos de contacto: </h4>
<p><ion-label>Autor: Duvan Alejandro Poveda</ion-label></p>
<p><ion-label>Email: dalejandropoveda@ucundinamarca.edu.co</ion-label></p>
<p><ion-label>Celular: 3134596708</ion-label></p>
<p><ion-label>Universidad de Cundinamarca</ion-label></p>
</ion-content>
