<ion-header>
  <ion-toolbar>
    <ion-icon name="close-circle" slot="end" size="large" (click)="salirModal()"></ion-icon>
    <ion-title>Autorización
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Política de tratamiento de datos</h2>
  <p>
    Autorizo a la aplicacion BiciSafe,  administrado por la Universidad de Cundinamarca. – Sede Chia y al OPERADOR que este contrate, para que en cumplimiento de las normas en materia del derecho al “Habeas Data” en Colombia, recolecte, trate y circule mis datos personales, para que sean utilizados con fines informativos.  Así mismo, autorizo al operador y  a la aplicación BiciSafe para que a su discreción, haga el manejo que considere pertinente de mis datos. Lo anterior, bajo el entendido de que la utilización de entrevistas, testimonios y fotografías no me genera ningún derecho a recibir compensación ni reconocimiento de ningún tipo en relación con el uso que la aplicación BiciSafe o el Operador haga de las mismas; por lo tanto, renuncio a cualquier derecho patrimonial que se pueda derivar del uso de mis datos.

Así mismo, autorizo al OPERADOR y a Bici Safe, para que la información y datos que se obtengan en el desarrollo del proyecto sean almacenados, actualizados, usados y compartidos principalmente con las entidades aliadas nacionales o extranjeras, para fines estadísticos, de resultados o cruce de datos con las centrales de información o con las bases de los programas sociales del Gobierno con el objetivo de análisis de resultados o de inclusión financiera.

Declaro que entiendo que esta información será utilizada para el desarrollo del objeto del Programa BiciSafe y por ende podrá ser procesada, recolectada, almacenada, usada, actualizada, transmitida, puesta en circulación y en general, se le podrá aplicar cualquier tipo de tratamiento conforme a las políticas de protección  de datos en Colombia.  Conozco que la finalidad del tratamiento de la información es servir como medio para la ejecución de cualquier tipo de relación vinculada con el objeto social de la aplicación BisiSafe así como el mantenimiento de vínculos comerciales y por lo tanto, mis datos podrán ser entregados a terceros aliados, derivándose esta actividad de los posibles vínculos existentes o por existir con la alcaldía de Chía.

Conozco que puedo solicitar mi negativa frente a esta autorización en cualquier momento después de haberla otorgado, así como mis derechos y deberes como titular de los datos personales. 

Manifiesto conocer que el OPERADOR y la aplicación BiciSafe, en el manejo de datos personales, aplica los controles exigidos por las reservas comercial y bancaria a las cuales se encuentran sujetas sus operaciones, así como las disposiciones en materia de protección de datos personales que resulten aplicables. 

Finalmente, conozco sobre la existencia de las Políticas de Tratamiento de Protección de Datos personales, y se me han explicado que cualquier reclamación en esta materia, podrá ser presentada y tramitada en los términos de las mismas. 
  </p>
</ion-content>
