<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombres: </ion-label>
    <ion-input placeholder="" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Apellidos: </ion-label>
    <ion-input placeholder="" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nro Documento: </ion-label>
    <ion-input placeholder="" inputmode="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nro Celular: </ion-label>
    <ion-input inputmode="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Correo: </ion-label>
    <ion-input type="email" inputmode="email" [(ngModel)]="email" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirmar Contraseña</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Dirección: </ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item > 
    <ion-label position="stacked">Fecha de nacimiento: </ion-label>
    <ion-input class="fecha" placeholder="" type="date"></ion-input>
  </ion-item>
  <div class="centrado">
      <ion-button type="submit" class="botonRegistro" color="secondary" shape="round" (click)="onSubmitRegistro()">Registrar</ion-button>
    </div>
    <div class="ion-text-center">
      <ion-button type="submit" color="secondary" shape="round" (click)="takePicture()">Tomar Foto</ion-button>
      <img *ngIf="image" [src]="image" alt="image">
    </div>
</ion-content>
